body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(-220deg, rgb(93, 66, 214), rgb(243, 205, 37));
    overflow-x: hidden;
}

.formulario {
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto; 
    max-width: 500px;
    padding: 20px;
    width: 90%; 
}


.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c9ced3; 
    border-radius: 4px;
    box-sizing: border-box;
}


.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}


.logoCharlie {
    text-align: center;
    margin-bottom: 20px;
}


.formulario a {
    color: #007bff; 
    text-decoration: none;
}

.formulario a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .formulario {
        width: 100%; 
        margin: 20px auto; 
    }
}

