
body {
    background-color: #0c84fc; 
}

.formulario {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
}

.btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}
